<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render 'shared/taxonomies' %>
  </div>
<% end %>
<h1><%= t(:quick_order_form) %></h1>

<%= quick_order_form(5) %>

<%# render 'form' %>

